extends ./layouts/_html5bp
block menu
  include ./partials/_menu
block drawer
  include ./partials/_drawer
  
block main
  .mdl-cell.mdl-cell--12-col
    p.mdl-typography--title.accedi
      | Accedi alle sezioni nel menu laterale
