extends ./layouts/_html5bp
block menu
block drawer
block main
  .mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col
    .mdl-cell
      i.mdl-color-text--blue-grey-400.material-icons person
      form(method='post', action='/login')
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#username.mdl-textfield__input(name='username', type="text")
          label.mdl-textfield__label(for="username") Username
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label  
          input#password.mdl-textfield__input(name='password', type='password')
          label.mdl-textfield__label(for="password") Password
        .button-right  
          button#submit.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(type='submit', value='Log In')
            | Log In
