extends ../layouts/_html5bp

block menu
	include ../partials/_menu
block drawer
	include ../partials/_drawer
	
block main
	.mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col.relative
		.mdl-cell.mdl-cell--12-col
			i.mdl-color-text--blue-grey-400.material-icons insert_invitation
			form#fileupload(name='fileupload', enctype='multipart/form-data', method='post')
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
					input#title.mdl-textfield__input(name='title', type="text").
					label.mdl-textfield__label(for="title") Titolo
				fieldset.float-l
					input#fileselect.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(type='file', name='fileselect').
					input#tenderid(type="hidden", value="#{tenderid}").
				.button-righest
					button#uploadfile.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(disabled, type='submit', value='Carica PDF')
						| Carica PDF
				#loader.mdl-progress.mdl-js-progress.mdl-progress__indeterminate.mdl-cell--12-col
				
